<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="WCFSyndicationService.Feed1" behaviorConfiguration="WCFSyndicationService.ServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/WCFSyndicationService/" />
          </baseAddresses>
        </host>
        <endpoint contract="WCFSyndicationService.IFeed1" address="Feed1" binding="webHttpBinding" behaviorConfiguration="WCFSyndicationService.Feed1Behavior"/>
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex"/>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="WCFSyndicationService.Feed1Behavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>

      <serviceBehaviors>
        <behavior name="WCFSyndicationService.ServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
